@charset "UTF-8";
   div.dateBeg { /*дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.dateBegINP { /*календарь, дата начала*/
    position: absolute; /* Абсолютное позиционирование */
    top: 30px; /* Положение от нижнего края */
    left: 140px; /* Положение от правого края */
    line-height: 20px;

   }
    div.dateFin { /*дата окончания*/
    position: absolute; /* Абсолютное позиционирование */
    top: 80px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;

   }
      div.dateFinINP { /*календарь, дата окончания */
    position: absolute; /* Абсолютное позиционирование */
    top: 80px; /* Положение от нижнего края */
    left: 140px; /* Положение от правого края */
    line-height: 20px;

   }
     div.username { /*надпись фамилия */
    position: absolute; /* Абсолютное позиционирование */
    top: 120px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;

   }
      div.usernameINP { /*поле ввода фамилии*/
    position: absolute; /* Абсолютное позиционирование */
    top: 120px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
         div.status { /*надпись статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 150px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
      div.statusINP { /*поле ввода статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 150px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.depart { /*надпись статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 180px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
      div.departINP { /*поле ввода статус*/
    position: absolute; /* Абсолютное позиционирование */
    top: 180px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.but { /*кнопка поиска*/
    position: absolute; /* Абсолютное позиционирование */
    top: 210px; /* Положение от нижнего края */
    left: 170px; /* Положение от правого края */
    line-height: 20px;
   }
   div.table {/*таблица ответа базы*/
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Положение от нижнего края */
    left: 450px; /* Положение от правого края */
    line-height: 20px;
   }
      div.confirm {/*таблица ответа базы*/
    position: absolute; /* Абсолютное позиционирование */
    top: 420px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
   
   
/*оставить сообщение*/   
     div.message {/*имя поля*/
    position: absolute; /* Абсолютное позиционирование */
    top: 250px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
       div.surnMes {/*строка фамилия*/
    position: absolute; /* Абсолютное позиционирование */
    top: 300px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.surnMesINP {/*поле ввода фамилии*/
    position: absolute; /* Абсолютное позиционирование */
    top: 300px; /* Положение от нижнего края */
    left: 268px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.typeMes {/*строка контекста сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 330px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.typeMesINP {/*поле выбора сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 330px; /* Положение от нижнего края */
    left: 245px; /* Положение от правого края */
    line-height: 20px;
   }
     div.typeCom {/*строка выбора способа оповещения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 360px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
     div.typeComINP {/*поле выбора способа оповещения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 360px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
     div.sendMesBut {/*кнопка отправки сообщения*/
    position: absolute; /* Абсолютное позиционирование */
    width: 500px;
    top: 390px; /* Положение от нижнего края */
    left: 180px; /* Положение от правого края */
    line-height: 20px;
   }
   

   